@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/*index*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    margin-top: 150px;
}
.main-nav a{
    font-family: "Righteous",serif;
    font-style: normal;
    font-size: 18px;
    color:  #f2d297;
    text-shadow: 1px 8px 10px rgba(20,14,167,0.69);
    backdrop-filter: blur(1px);
    background-color: rgba(22, 9, 103, 0.475);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    border-radius: 10px;
    padding:5px;
}
.main-nav a:hover{
    color:#0069FF;
    backdrop-filter: blur(1px);
    background-color: #f2d297a5;
}
#cottage-nav:hover{
  background-color:  #11596b63;
  color: #85bfeb;  
}
#room-nav:hover{
  background-color: #c3a66f;
  color: #60420a;
}
#reserve:hover{
  background-color: #119175d1;
  color: #97f2af;
}
#about:hover{
  color:#324B50;
  background-color: #3F93A4;
}

#title{
    display: flex;
    flex-direction: column;
    justify-content:flex-start; 
    position: fixed;
    width: 100%;   
    background-image:linear-gradient(rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.227)), url(img/bgp.jpg);
    min-height: 100vh;
    background-size:cover;
    background-position: center;
    padding-left: 100px;
}
#main-parag{
    color: #f2d297;   
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
    font-size: 100px;  
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 210px;
    margin-bottom: 10px;  
}
#Rain{
    color: #0069FF;   
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}
#resort{
    color: #0069FF;   
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}
#slogan{
    color: #fffdfd;
    font-family: "Amaranth", sans-serif;
    text-align: justify; 
    display: flex; 
    justify-content: flex-start;
    width: 100%;
    font-size: 20px; 
    text-shadow: 2px 1px 2px #313ead;
}
#Gif{
    display: flex;
    padding: 20px 20px 20px 0;
}
#Gif img{  
    padding: 10px;
    width: 150px; 
    height: 150px;
    border-radius: 50px;
}
/* First Gif */
#image-text {
    position: relative; 
  }
  
#image-text img {
    width: 150px; 
    height: auto; 
  }
  
#image-text p {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    opacity: 0; 
    color:  #f2d297;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px; 
    transition: opacity 0.3s ease-in-out; 
    font-family: "Righteous", sans-serif;
    font-size: 25px;
  }
#image-text:hover p {
    opacity: 1; 
  }

  /* Second Gif */
  #image-text1 {
    position: relative;
  }
  
#image-text1 img {
    width: 200px; 
    height: auto;
  }
  
#image-text1 p {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px; 
    border-radius: 5px; 
    transition: opacity 0.3s ease-in-out; 
    font-family: "Righteous", sans-serif;
    font-size: 40px;
  }
  
#image-text1:hover p {
    opacity: 1; 
  }
  /* 3rd Gif */
  #image-text2 {
    position: relative;
  }
  
#image-text2 img {
    width: 180px;   
    height: auto;
  }
  
#image-text2 p {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0; 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px; 
    border-radius: 5px; 
    transition: opacity 0.3s ease-in-out; 
    font-family: "Righteous", sans-serif;
    font-size: 40px;
  }
  
#image-text2:hover p {
    opacity: 1; 
  } 
#image-text a,#image-text1 a,
#image-text2 a{
  text-decoration: none;
  color: #f2d297;
}